
/* counter_1 */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* 
body {
    font-family: 'Roboto', sans-serif;
    background: lightskyblue 
        url('https://i.pinimg.com/originals/3c/24/46/3c24462450c2a902bf7e18f3d9aada81.jpg');
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100vh;
} */

.container {
    /* max-width: 1100px; */
    margin: 0 auto;
    overflow: auto;
}

header {
    flex: 1;
    /* height: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
}

header h1 {
    font-size: 60px;
}

.counters {
    background-color: #0f479a;
    color: white;
    padding: 40px 20px;
    border-top: 3px solid lightskyblue;
}

.counters .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    text-align: center;
}

.counters i {
    color: lightskyblue;
    margin-bottom: 5px;
}

.counters .counter {
    font-size: 45px;
    margin: 10px 0;
}

/* counter_2 */
.countfect {
  font-family:'Archivo Black';
  font-size:2.5rem;
}
/* animation_3 */
.header {
    width: 100%;
    height: 700px;
    position: relative;
    overflow: hidden;
}

.header-bg {
    width: 100%;
}

.message-wrap {
    width: 1200px;
    color: #ffffff;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.message-title {
    font-size: 3rem;
}

.message-sentence {
    font-size: 1.5rem;
    line-height: 1.2rem;
}

.blur-motion {
    position: relative;
    height: 500px;
}

.blur-001 {
    width: 100px;
    height: 100px;
    background-color: #11a207;
    border-radius: 50px;
    position: absolute;
    top: -30%;
    left: -20%;
    mix-blend-mode: color-dodge;
}

.blur-002 {
    width: 750px;
    height: 750px;
    background-color: #0752a2;
    border-radius: 300px;
    position: absolute;
    top: 130%;
    left: 130%;
    mix-blend-mode: color-dodge;
}

.blur-003 {
    width: 500px;
    height: 500px;
    background-color: #07a21c;
    border-radius: 200px;
    position: absolute;
    top: 130%;
    left: -30%;
    mix-blend-mode: color-dodge;
}

.blur-004 {
    width: 200px;
    height: 200px;
    background-color: #a20773;
    border-radius: 200px;
    position: absolute;
    top: -50%;
    left: 50%;
    mix-blend-mode: color-dodge;
}

.blur-005 {
    width: 200px;
    height: 200px;
    background-color: #0748a2;
    border-radius: 200px;
    position: absolute;
    top: 50%;
    left: -50%;
    mix-blend-mode: color-dodge;
}
/* parallax _1 */
.parallax-window {
	min-height: 400px;
	background: transparent;
}
/* parallax_3 */
.water{
    background-image: url(../water_ripple/img/pexels-hungtran-3699434.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
/* slide_1 */
.banner_carousel{
    position: static;
    

}
.owl-nav{

}
.banner_carousel .owl-nav .owl-prev{
    position: absolute;
    top: 45%;
    left: 16px;
}
.banner_carousel .owl-nav .owl-prev span{
    display: block;
    width: 26px;
    height: 31px;
    background-color: #00cce1;
    font-size: 30px;
    line-height: 26px;
    color: #ffffff;
    
}
.banner_carousel .owl-nav .owl-next{
    position: absolute;
    top: 45%;
    right: 0;
}
.banner_carousel .owl-nav .owl-next span{
    display: block;
    width: 26px;
    height: 31px;
    background-color: #00cce1;
    font-size: 30px;
    line-height: 26px;
    color: #ffffff;

}
.owl-dots{
    display: flex;
    justify-content: center;
    gap: 5px;
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.banner_carousel .owl-dots .owl-dot span{
    display: block;
    width: 9px;
    height: 9px;
    background-color:#c6ccd0;
    border-radius: 50%;
}
.banner_carousel .owl-nav span{
    transition: all .3s ease-in-out;
}
.banner_carousel .owl-nav span:hover{
    background-color: #f69165;
}
.banner_carousel  .owl-dot.active span{
    display: block;

    background-color: #f69165;
    
}
/* mixitup_3 */
.pink{
    background-color: pink;
    width: 10%;

}
.red{
    background-color: red;
    width: 10%;

}
.green{
    background-color: green;
    width: 10%;


}
.blue{
    background-color: blue;
    width: 10%;


}
/* prealoder */
/* common css  */
body {
}
/* common css  */

/* preload start */

#loading {
  background-color: #1e6fcb;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  margin-top: 0px;
  top: 0px;
}
#loading-center {
  width: 100%;
  height: 100%;
  position: relative;
}
#loading-center-absolute {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 150px;
  width: 150px;
  margin-top: -75px;
  margin-left: -75px;
}
.object {
  width: 20px;
  height: 20px;
  background-color: #e3bfd0;
  float: left;
  margin-right: 20px;
  margin-top: 65px;
  -moz-border-radius: 50% 50% 50% 50%;
  -webkit-border-radius: 50% 50% 50% 50%;
  border-radius: 50% 50% 50% 50%;
}

#object_one {
  -webkit-animation: object_one 1.5s infinite;
  animation: object_one 1.5s infinite;
}
#object_two {
  -webkit-animation: object_two 1.5s infinite;
  animation: object_two 1.5s infinite;
  -webkit-animation-delay: 0.25s;
  animation-delay: 0.25s;
}
#object_three {
  -webkit-animation: object_three 1.5s infinite;
  animation: object_three 1.5s infinite;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

@-webkit-keyframes object_one {
  75% {
    -webkit-transform: scale(0);
  }
}

@keyframes object_one {
  75% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
}

@-webkit-keyframes object_two {
  75% {
    -webkit-transform: scale(0);
  }
}

@keyframes object_two {
  75% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
}

@-webkit-keyframes object_three {
  75% {
    -webkit-transform: scale(0);
  }
}

@keyframes object_three {
  75% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
}

/* preload end */